<%-  include('../include/head.ejs') %>
</head>
<body> 
    <%-  include('../include/navigation.ejs') %>
        <div class="text-box">
            <h1>VIIT College</h1>
            <p>Vishwakrama Institute Of Information Technology,
                <br>An Engineering Institute for technical studies.</p>

            
            <a href="/login" class="hero-btn">Login</a>
            <p>New User <a href="/signup" class="head-signup">Signup</a> Here!</p>
        </div>
</section>
    <!--Javascript is Start-->
    <script src="/js/main_script.js"></script>
</body>
</html>