<section class="header">
        <nav>
            <a class="logo-img" href="/"><img src="/image/logo-viit.png" id="logo-img"></a>

            <div class="nav-links" id="navLinks">

                <span class="icon" onclick="hidemenu()">&#10005;</span>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">All Students</a></li>
                    <li><a href="/">Edit Info</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                </ul>
            </div> 
            <span class="icon" onclick="showmenu()">&#9776;</span>
        </nav>